{% load static %}


   <!-- MUHAMMED ALİ KÜÇÜK START -->


<!-- card yapısı  -->
<div class="container">
    <h1>Fırsatlar</h1>
    <h2>Size özel promosyonlar, indirimler ve fırsatlar</h2>

    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card border-0 kart-detay">
            <div class="card-body d-flex">
                <div class="yazı w-75">
                    <h4>Şimdiye kadarki en uzun tatilinize çıkın</h4>
                    <p>Uzun süreli konaklama sunan tesisleri arayın ve daha düşük aylık fiyatların keyfini çıkarın.</p>
                    <button style="background-color: #003b95">Bir Konaklama Bul</button>
                </div>
                <img width="25%" style="border-radius: 0px 10px 10px 0px;" src="{% static './img/muhammed/aıle.jpeg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-0 kart-detay">
            <div class="card-body">
                <div class="resim-yazi" style="background-image: url({% static 'img/muhammed/arkdas.jpeg' %});">
                    <p style="color: white;">Yıl Sonu Fırsatlarıyla %15 tasarruf</p>
                    <p style="color: white;">En az %15 tasarrufla tüm dünyada seyahat noktaları</p>
                    <button style="background-color: blue">Yıl Sonu Fırsatları Bul</button>
                </div>
            </div>
          </div>
        </div>
      </div>


    
</div>



<!-- CARD -->


<section class="block_3">
    <h3>Paris şehrinde tesis tiplerine göre göz atın</h3>

    <div class="slider_left none">
        <i class="fas fa-chevron-left"></i>
    </div>

    <div class="slider_right">
        <i class="fas fa-chevron-right"></i>
    </div>


<div class="sliderbox">


    <div class="slider_elements">

        <div class="card_slider">
            <img src="{% static './img/muhammed/otel.jpeg' %}" alt="oteller">
            <div>
                <div class="card_title">Oteller</div>
                <p>802 409 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/daıre.jpeg' %}" alt="daireler">
            <div>
                <div class="card_title">Daireler</div>
                <p>805 700 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/vılla.jpeg' %}" alt="villalar">
            <div>
                <div class="card_title">Villalar</div>
                <p>406 020 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/taitlevler.jpeg' %}" alt="tatil evleri">
            <div>
                <div class="card_title">Tatil Evleri</div>
                <p>31 756 tesis müsait</p>
            </div>
        </div>
        
        <div class="card_slider">
            <img src="{% static './img/muhammed/konukevleri.jpeg' %}" alt="konuk evleri">
            <div>
                <div class="card_title">Konuk Evleri</div>
                <p>17 466 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/hosteller.jpeg' %}" alt="hosteller">
            <div>
                <div class="card_title">Hosteller</div>
                <p>10 984 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/odakahvaktı.jpeg' %}" alt="oda ve kahvaltı">
            <div>
                <div class="card_title">Oda ve Kahvaltı</div>
                <p>2 220 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/pansıyon.jpeg' %}" alt="pansiyon">
            <div>
                <div class="card_title">Pansiyon</div>
                <p>356 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/kampalanları.jpeg' %}" alt="kamp alanları">
            <div>
                <div class="card_title">Kamp alanları</div>
                <p>1 041 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/teknler.jpeg' %}" alt="tekneler">
            <div>
                <div class="card_title">Tekneler</div>
                <p>33 383 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/cadırkampalanları.jpeg' %}" alt="Çadır ve Kamp alanları">
            <div>
                <div class="card_title">Çadır ve Kamp alanları</div>
                <p>12 631 tesis müsait</p>
            </div>
        </div>

        <div class="card_slider">
            <img src="{% static './img/muhammed/teknler.jpeg' %}" alt="tekneler">
            <div>
                <div class="card_title">Tekneler</div>
                <p>33 383 tesis müsait</p>
            </div>
        </div>

    </div>
</div>

</section>





<div class="grid_01">

    <div class="bloc_img1 bloc_img">
        <a class="text-decoration-none" href="{% url 'detay1' %}"><h4 class="list-unstyled">Paris</a>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/langfr-225px-Flag_of_France.svg.png" alt="france" height="16px">
        </h4>
        <img src="{% static './img/muhammed/paris.jpg' %}" alt="Paris">
    </div>

    <div class="bloc_img2 bloc_img">
        <a class="text-decoration-none" href="{% url 'detay1' %}"><h4 class="list-unstyled">Roma</a> 
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAxlBMVEX///8AAAAAAAAAAAAAAAD////t7e2UzrCOyquDxqN+w6B5wJx1v5nulJZtupNquZHtjY9ftIles4hXsIPsg4dVr4JQrn7sf4JMqnvreX1IqHfqdXlEpXPobXA2oms7n2zpam4zn2gzmWYqm2PnX2MulmEjmV3mXmEplF4fllrmWFwjj1gfjVXjU1fmUFXgTFDeSkrjQkfdQkfeQkLXOD7gNjzgMzjWNDngLzXULzTfKjDfJyzSKzHeIynRJizQIyjdHyTNHyRobP1rAAAABXRSTlMAESIzRJTdRHwAAACYSURBVBgZrcE7DsJQDEXBc22HT2paSva/HBbADhANoLyHQxqL0CAxA38jxDddOjRmVxYn3s6hdqO6MDsqMBmpsRhJdwgkowjS5ARmTjGQmgjMnWJLmkRgHhRb0iQCHzYUThqNgN1AMZIejcBwPkkE6lRGMhF4o3LS1Am8OSuO4azJCOBB8WQmAu2ZicWGhWRirTchvun87AVVDBm1+yb5GwAAAABJRU5ErkJggg==" alt="france" height="16px">
        </h4>
        <img src="{% static './img/muhammed/rmo.jpg' %}" alt="roma">
    </div>

    <div class="bloc_img3 bloc_img">
        <a class="text-decoration-none" href="{% url 'detay1' %}"><h4 class="list-unstyled">Atina</a> 
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAApVBMVEX///8AAAAAAAAAAAAAAAD////4+/z5+fnv7+/N4+7H4OzD3+q+3Oi72ei01+a91eClzuGey96YyNuOwtiKv9eFvdaJuNN8uNJ+t9GCtNBztc5yqsporcxyqslrp8dZpcZbmsBSmblKmr1Qlb1Hlb1CkbpGj7k8kbY0kbpAjLcmibUlibUwhLMyga8ufaspeqkieqwSeqwYdKgacKAScKYLbKMKa5xKX3/vAAAABXRSTlMAESIzRJTdRHwAAACzSURBVHjardFbE4FQFIbhDpai1E61kyKF2ORQ4f//NN+Vmmm7MOO5+WbWe7mUf1KlcC/LXUBBielTFa3k3CGHc856lpqi7eOEEVslCfUhhMzzyINZx2IIYwIYbzprgbCY+z75MO1MbITLVoQUCiGox0C4iiqiqKqqopMVCLf7I6W0ruvT+eN4QDBIwkBwLXvAchHa5jnQtAhxEA4EMYJJEiZCnknkCC8pTVH1kYSufv3g797UwiH43Dh9dAAAAABJRU5ErkJggg==" alt="france" height="16px">
        </h4>
        <img src="{% static './img/muhammed/Atina-Yunanistan_af8wbm.jpg' %}" alt="La Rochelle">
    </div>

    <div class="bloc_img4 bloc_img">
        <a class="text-decoration-none" href="{% url 'detay1' %}"><h4 class="list-unstyled">Belgrad</a>
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAA7VBMVEX///8AAAAAAAAAAAAAAAD///////nx8/z77uvv7+/77OjmvcX3rq7kuWPyrbHprbvhrrPmqpTlqIfmn5vom4jmk5vljpjlkHvsiZTljXnhiJLrgo7mhI/ggY3hgXLfeoThennheHbocn/ocoDmc3Psa3fraG7nZ3TqZmvdZ1GTcp7rW2joW2leeLeKbZ3eYCbcXFLdXD3fXSHbW0esXoHbVEzdVTaAYpVQbbTgR1hNaq/fQlTkP03kOkk/X61AX6g/XK46WqNuS4YyVKQwUZ4wSp8pSZkiRpwhQ5UbQJgeOZUSOJQSMJEPLY4PJY3rzA3qAAAABXRSTlMAESIzRJTdRHwAAADOSURBVBgZrcG9SgNBFIbh9zs5uzObUVD0BgSxsrH1/gsvwNo0oo3BIhDcdZmjkPUHsxaCzwP/Rog5IV1XZty46op9Z3JskQP6PiUQIQJ6cMgOT1Xbl1M+yHDMHJVnOG6CSRVOmw8ZhoOyWeaWyabBoHi7fUiPy/uh9UkxHKVGh+PQjLVrgh0Jx7Kr1NfSjyUFO4vAsIVZl5d0uQsmZjhEhM7r6uJIfCNLI3C1ubust3zyXpZG3p34uOaL987Omh+MXzg4cyQT+6IKMSf4szeJcTsjxopu0QAAAABJRU5ErkJggg==" alt="france" height="16px">
        </h4>
        <img src="{% static './img/muhammed/belgrad1.jpg' %}" alt="Paris">
    </div>

    <div class="bloc_img5 bloc_img">
        <a class="text-decoration-none" href="{% url 'detay2' %}"><h4 class="list-unstyled">Paris</a>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Flag_of_France.svg/langfr-225px-Flag_of_France.svg.png" alt="france" height="16px">
        </h4>
        <img src="{% static './img/muhammed/paris.jpg' %}" alt="yunanistan">
    </div>

</div>
    

  <!-- MUHAMMED ALİ KÜÇÜK FINISH -->
 


<!-- MERT CAN ÇOBAN START-->

<!-- Img ve carousel yapısı start -->


 <section class="container block_5">

        <h3>Keşfet</h3>
        <p class="subtitle_h5">Bu popüler seyahat noktalarının size sunacağı çok şey var</p>

    

    <div class="block5_sliderbox">

        <div class="slider_left_3 none">
            <i class="fas fa-chevron-left"></i>
        </div>
    
        <div class="slider_right_3">
            <i class="fas fa-chevron-right"></i>
        </div>

        <div class="slider5_elements">

            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis1.jpg' %}" alt="athène">
                <div>
                    <div class="card_slider_title">Atina</div>
                    <p>Yunanistan</p>
                    <p>En düşük <span>9756 TRY</span></p>
                </div>
            </div>

            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis2.jpg' %}" alt="bucarest">
                <div>
                    <div class="card_slider_title">Bükreş</div>
                    <p>Romanya</p>
                    <p>En düşük <span>6784 TRY</span></p>
                </div>
            </div>

            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis3.jpg' %}" alt="luxembourg">
                <div>
                    <div class="card_slider_title">Lüksemburg</div>
                    <p>Lüksemburg</p>
                    <p>En düşük <span>8435 TRY</span></p>
                </div>
            </div>

            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis4.jpg' %}" alt="madrid">
                <div>
                    <div class="card_slider_title">Madrid</div>
                    <p>İspanya</p>
                    <p>En düşük <span>4268 TRY</span></p>
                </div>
            </div>

            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis5.jpg' %}" alt="monaco">
                <div>
                    <div class="card_slider_title">Monako</div>
                    <p>Monako</p>
                    <p>En ucuz <span>10895 TRY</span></p>
                </div>
            </div>

            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis6.jpg' %}" alt="sofia">
                <div>
                    <div class="card_slider_title">Sofya</div>
                    <p>Bulgaristan</p>
                    <p>En düşük <span>4627 TRY</span></p>
                </div>
            </div>

            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis8.jpg' %}" alt="varsovie">
                <div>
                    <div class="card_slider_title">Varşova</div>
                    <p>Polonya</p>
                    <p>En düşük <span>6753 TRY</span></p>
                </div>
            </div>
            <div class="card_slider_2">
                <img src="{% static './img/mert/tesis7.jpg' %}" alt="varsovie">
                <div>
                    <div class="card_slider_title">Berlin</div>
                    <p>Almanya</p>
                    <p>En düşük <span>132568 TRY</span></p>
                </div>
            </div>
        </div>
    </div>

    <h3>Hızlı ve kolay seyahat planlayıcısı</h3>
    <p>Bir tema seçin ve Fransa'daki popüler seyahat noktalarını keşfedin</p>
    <div class="hızlı">
        <button id="btn"><i class="bi bi-arrow-through-heart">Romantizm</i></button>
        <button id="btn2"><i class="bi bi-houses-fill">Şehir</i></button>
        <button id="btn3"><i class="bi bi-flower1">Dinlenme</i></button>
        <button id="btn4"><img width="17px" src="{% static './img/mert/ski.png' %}" alt="">Kayak</button>
        <button id="btn5"><img width="17px" src="{% static './img/mert/sun-umbrella.png' %}" alt="">Plaj</button>
        <button id="btn6"><i class="bi bi-bicycle"></i>Açık hava</button>
    </div>
    <div class="seyahat d-flex">
        <div class="col">
            <div class="card h-100">
                <img src="{% static './img/mert/140025043.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vitry-sur-Seine</h5>
                    <p class="card-text">Paris şehrinden 8 km uzaklıkta</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static './img/mert/140025044.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Vitry-le-François</h5>
                    <p class="card-text">Paris şehrinden 30 km uzaklıkta</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static './img/mert/140025050.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Viry-Châtillon</h5>
                    <p class="card-text">Paris şehrinden 21 km uzaklıkta</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static './img/mert/140025101.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Villejuif</h5>
                    <p class="card-text">Paris şehrinden 7 km uzaklıkta</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static './img/mert/140025363.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Tonnerre</h5>
                    <p class="card-text">Paris şehrinden 164 km uzaklıkta</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Img ve carousel yapısı end -->

 <!-- MERT CAN ÇOBAN FINISH -->


    <!-- EMİNE carousel yapısı başlangıç -->

    
    
    

    <div class="container d-flex flex-column">
        <div class="carousel__heading fw-bold fs-4">
            En benzersiz tesislerimizde konaklayın

            {% if user.is_authenticated %}
            <a href="{% url 'tesis-ekle' %}"><button class="ms-2" style="background-color: #003b95; border-radius: 5px;">Tesis Ekle</button></a>  
            {% endif %}
            
        </div>
        <div class="carousel__prev__heading mt-1 mb-3">
            Kalelerden villalara teknelerden iglolara, hepsi bizde var
        </div>

        
        <swiper-container class="swiper-1" init="false">

            {% for tesis in tesis %}
            <swiper-slide>
                <div class="booking__card">
                    <img class="card__image" src="{{ tesis.image.url }}" alt="home" />
                    <div class="card-body card-body--e p-2">
                        <h4 class="main-font">{{ tesis.title }}</h4>
                        <p class="card__address">{{ tesis.adress }}</p>
                        <div class="card__rating mt-2">
                            <div class="card__badge me-2">
                                <p class="small-font text-white">{{ tesis.rating }}</p>
                            </div>
                            <p class="card__rating-rate me-1">Müthiş</p>
                            <p class="small-font">{{ tesis.review_count }}</p>
                        </div>
                        <div class="card__price">
                            <p class="small-font">En düşük</p>
                            <h4 class="main-font ms-1">{{ tesis.price }}</h4>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            {% endfor %}
        </swiper-container>

        

        <div class="container__heading d-flex justify-content-between">
            <div class="carousel__heading fw-bold fs-4">
                Konukların beğendiği evler
            </div>
            <a class="discover__link d-flex text-primary fs-6 text-decoration-none align-items-end" href="#"
                target="_blank">Evleri
                keşfet</a>
        </div>
        <swiper-container class="swiper-2" init="false">

            {% for tesis in tesis %}
            
            <swiper-slide>
                <div class="booking__card">
                    <img class="card__image" src="{{ tesis.image.url }}" alt="home" />
                    <div class="card-body card-body--e p-2">
                        <h4 class="main-font">{{ tesis.title }}</h4>
                        <p class="card__address">{{ tesis.adress }}</p>
                        <div class="card__rating mt-2">
                            <div class="card__badge me-2">
                                <p class="small-font text-white">{{ tesis.rating }}</p>
                            </div>
                            <p class="card__rating-rate me-1">Müthiş</p>
                            <p class="small-font">{{ tesis.review_count }}</p>
                        </div>
                        <div class="card__price">
                            <p class="small-font">En düşük</p>
                            <h4 class="main-font ms-1">{{ tesis.price }}</h4>
                        </div>
                    </div>
                </div>
            </swiper-slide>

            {% endfor %}
            
        </swiper-container>
    </div>

 <!-- Emine carousel yapısı bitiş -->




 <!-- DENİZ INDEX -->
 <section>
    <div class=" container container-1 " style="background-image: url({% static 'img/deniz/world-map.7d457a5d.png' %});">
        <div class="genius-earth mt-3 mb-3  ms-auto  d-flex">
            <img src="{% static './img/deniz/GlobeGeniusBadge@2x.png' %}" width="170px">
            <div class="genius-words">
                <h4><b>Anında indirimlerden faydalanın</b></h4>
                <div>
                    <p>Tasarruf etmek için Booking.com hesabınıza giriş yapıp mavi <br> renkli Genius logosunu bulmanız yeterli</p>
                </div>
                <div class="buttons-genius d-flex mt-4">
                    <button type="button" class="btn btn-outline-primary">Giriş yap</button>
                    <button class="btn">Kaydol</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Sıradaki seyahatiniz için evler bulun kısmı -->
<section>
    <div class=" container container-2 mt-3 back-circle" style="background-image: url({% static 'img/deniz/14.png' %});" >
        <div class="back-circle-ground mt-3">
            <div class= "ground-text borders mt-5"><h4><b><a href="">Sıradaki seyahatiniz için <br> <span id="text-container" class="underline">evler</span> <br>bulun</a></b></h4>
            <button class="cnt-2-btn mt-3">Evleri keşfet</button></div>
        </div>
    </div>
</section>



<!-- Beğendiğimiz seyahat noktaları -->
<section class="container container-3 mt-4">
    <h4><b>Beğendiğimiz seyahat noktaları</b></h4>
    <div class="hero">
        <div class="btn-box">
            <button id="btn1" onclick="openBOLGELER()" class="btn">Bölgeler</button>
            <button id="btn2" onclick="openSEHIRLER()" class="btn">Şehirler</button>
            <button id="btn3" onclick="openSIMGESELYAPILAR()" class="btn">Simgesel yapılar</button>
        </div>
<!-- Bölgeler -->
        <div id="content-1" class="content">
            <div class="content-1">
                <div class="row">
                    <div class="col-md-3 mt-3"><ul>
                        <li><a href="#">Sakız adası</a>
                            <span style="font-size: 13px; display: block; color: gray;">225 tesis</span>
                        </li>
                        <li><a href="#">Lviv Oblastı</a>
                            <span style="font-size: 13px; display: block; color: gray;">1.412 tesis</span>
                        </li>
                        <li><a href="#">Ko samui</a>
                            <span style="font-size: 13px; display: block; color: gray;">2.212 tesis</span>
                        </li>
                        <li><a href="#">Taşoz</a>
                            <span style="font-size: 13px; display: block; color: gray;">725 tesis</span>
                        </li>
                    </ul>
                </div>
                    <div class="col-md-3 mt-3">
                        <ul>
                            <li><a href="#">Hawaii</a>
                                <span style="font-size: 13px; display: block; color: gray;">2.599 tesis</span>
                            </li>
                            <li><a href="#">Salta Province</a>
                                <span style="font-size: 13px; display: block; color: gray;">1.763 tesis</span>
                            </li>
                            <li><a href="#">Santoron</a>
                                <span style="font-size: 13px; display: block; color: gray;">834 tesis</span>
                            </li>
                            <li><a href="#">Halkidikya</a>
                                <span style="font-size: 13px; display: block; color: gray;">37.693 tesis</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-3">
                        <ul>
                            <li><a href="#">Yunan Adaları</a>
                                <span style="font-size: 13px; display: block; color: gray;">5.499 tesis</span>
                            </li>
                            <li><a href="#">Bali</a>
                                <span style="font-size: 13px; display: block; color: gray;">12.692 tesis</span>
                            </li>
                            <li><a href="#">Zanzibar</a>
                                <span style="font-size: 13px; display: block; color: gray;">4.343 tesis</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-3">
                        <ul>
                            <li><a href="#">Phuket</a>
                                <span style="font-size: 13px; display: block; color: gray;">3.813 tesis</span>
                            </li>
                            <li><a href="#">Mikonos</a>
                                <span style="font-size: 13px; display: block; color: gray;">1.337 tesis</span>
                            </li>
                            <li><a href="#">Rodos</a>
                                <span style="font-size: 13px; display: block; color: gray;">2.260 tesis</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 mt-3">
                        <ul>
                            <li><a href="#">İbiza</a>
                                <span style="font-size: 13px; display: block; color: gray;">1.452 tesis</span>
                            </li>
                            <li><a href="#">Olympus</a>
                                <span style="font-size: 13px; display: block; color: gray;">1.643 tesis</span>
                            </li>
                            <li><a href="#">Malta</a>
                                <span style="font-size: 13px; display: block; color: gray;">5.515 tesis</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>



<!-- Şehirler -->
<div id="content-2" class="content">
<div class="content-1">
    <div class="row">
        <div class="col-md-3 mt-3">
            <ul>
                <li><a href="#">Haarlem, Hollanda</a>
                    <span style="font-size: 13px; display: block;">5.995 kiralık tatil yeri, 65 kulübe</span>
                </li>
                <li><a href="#">Los Angeles, ABD</a>
                    <span style="font-size: 13px; display: block;">49 kulübe, 44 kiralık tatil yeri</span>
                </li>
                <li><a href="#">Lizbon, Portekiz</a>
                    <span style="font-size: 13px; display: block;">83 kiralık tatil yeri, 36 kulübe, 4 köşk/dağ evi</span>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <ul>
                <li><a href="#">Londra, Birleşik Krallık</a>
                    <span style="font-size: 13px; display: block;">37 kiralık tatil yeri, 4 kulübe</span>
                </li>
                <li><a href="#">Las Vegas, ABD</a>
                    <span style="font-size: 13px; display: block;">41 kiralık tatil yeri, 16 kulübe</span>
                </li>
                <li><a href="#">Paris, Fransa</a>
                    <span style="font-size: 13px; display: block;">155 kiralık tatil yeri, 155 kulübe</span>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <ul>
                <li><a href="#">Bangkok</a>
                    <span style="font-size: 13px; display: block;">4038 otel</span>
                </li>
                <li><a href="#">Pattaya</a>
                    <span style="font-size: 13px; display: block;">844 otel</span>
                </li>
                <li><a href="#">Mekke</a>
                    <span style="font-size: 13px; display: block;">457 otel</span>
                </li>
                <li><a href="#">Moskova</a>
                    <span style="font-size: 13px; display: block;">8294 otel</span>
                </li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="#">Lefkoşa</a>
                    <span style="font-size: 13px; display: block;">188 otel</span>
                </li>
                <li><a href="#">Girne</a>
                    <span style="font-size: 13px; display: block;">164 otel</span>
                </li>
                <li><a href="#">Nabran</a>
                    <span style="font-size: 13px; display: block;">8 otel</span>
                </li>
                <li><a href="#">Gence</a>
                    <span style="font-size: 13px; display: block;">36 otel</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>



<!-- Simgesel yapılar -->
<div id="content-3" class="content">
<div class="content-1">
    <div class="row">
        <div class="col-md-3 mt-3">
            <ul>
                <li><a href="#">Disneyland Paris</a>
                    <span style="font-size: 13px; display: block;">4.279 tesis</span>
                </li>
                <li><a href="#">Vietnam Tarih Müzesi</a>
                    <span style="font-size: 13px; display: block;">48 tesis</span>
                </li>
                <li><a href="#">Sidney Luna Parkı</a>
                    <span style="font-size: 13px; display: block;">70 tesis</span>
                </li>
                <li><a href="#">Mescid-i Haram</a>
                    <span style="font-size: 13px; display: block;">7.553 tesis</span>
                </li>
            </ul>
        </div>
        <div class="col-md-3 mt-3">
            <ul>
                <li><a href="#">Burj Al Arab Kulesi</a>
                    <span style="font-size: 13px; display: block;">5.604 tesis</span>
                </li>
                <li><a href="#">Passy Metro İstasyonu</a>
                    <span style="font-size: 13px; display: block;">806 tesis</span>
                </li>
                <li><a href="#">Palmiye Adaları</a>
                    <span style="font-size: 13px; display: block;">7.553 tesis</span>
                </li>
                <li><a href="#">Eyfel Kulesi</a>
                    <span style="font-size: 13px; display: block;">2.306 tesis</span>
                </li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="#">Aqua land</a>
                    <span style="font-size: 13px; display: block;">247 tesis</span>
                </li>
                <li><a href="#">Sveti Stefan</a>
                    <span style="font-size: 13px; display: block;">4.279 tesis</span>
                </li>
                <li><a href="#">Mavi Göl</a>
                    <span style="font-size: 13px; display: block;">457 tesis</span>
                </li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="#">Ulusal Üniversite Hastanesi</a>
                    <span style="font-size: 13px; display: block;">7.553 tesis</span>
                </li>
                <li><a href="#">Jumeirah Plajı</a>
                    <span style="font-size: 13px; display: block;">2.470 tesis</span>
                </li>
                <li><a href="#">Itaewon</a>
                    <span style="font-size: 13px; display: block;">4.279 tesis</span>
                </li>
            </ul>
        </div>
        <div class="col-md-2 mt-3">
            <ul>
                <li><a href="#">Disneyland</a>
                    <span style="font-size: 13px; display: block;">37 kiralık tatil yeri, 4 kulübe</span>
                </li>
                <li><a href="#">Burç Halife</a>
                    <span style="font-size: 13px; display: block;">37 kiralık tatil yeri, 4 kulübe</span>
                </li>
                <li><a href="#">Dubai Mall</a>
                    <span style="font-size: 13px; display: block;">37 kiralık tatil yeri, 4 kulübe</span>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
    </div>
</section>

<!-- DENIZ INDEX YAPISI BITIS -->
