{% load static %}
<!--FATİH-->


<footer>  
    <div class="row section-row align-items-center justify-content-center m-0" id="footer-bg">
        <div class=" container col-md-5 text-white text-center">
            <h2>Zamandan ve paradan tasarruf edin!</h2>
            <p>Kaydolursanız en iyi fırsatları size göndereceğiz</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="E-posta Adresi"
                 aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="buton btn-primary ms-2 w-25" type="button">Üye ol</button>
        </div>
        </div>
    </div>
    <div class="footer-center">
        <button class="buton-1">Tesisiniz kaydedin </button>
    </div>
    <div class="content-ul-li">
        <ul class="container d-flex ">
            <li><a style="list-style-type: none;" class="text-white" href="#">Mobil sürüm</a></li>
            <li><a class="text-white" href="#">Hesabınız </a></li>
            <li><a class="text-white" href="#">Rezervasyon değişikliklerinizi online yapın</a></li>
            <li><a class="text-white" href="#">Müşteri hizmetleri yardımı</a></li>
            <li><a class="text-white" href="#">İştirak olun</a></li>
            <li><a class="text-white" href="#">Booking.com Business</a></li>
        </ul>
    </div>
    <div class="row-1">
        <col-md-5>
        <ul>
            <li><a href="#">Ülkeler</a></li>
            <li><a href="#">Bölgeler</a></li>
            <li><a href="#">Şehirler</a></li>
            <li><a href="#">Semtler</a></li>
            <li><a href="#">Havaalanları</a></li>
            <li><a href="#">Oteller</a></li>
            <li><a href="#">Simgesel</a></li>
        </ul>
        </col-md-5>
        <ul>
            <li><a href="#">Evler</a></li>
            <li><a href="#">Daireler</a></li>
            <li><a href="#">Tatil Köyleri</a></li>
            <li><a href="#">Villalar</a></li>
            <li><a href="#">Hosteller</a></li>
            <li><a href="#">Oda ve Kahvaltılar</a></li>
            <li><a href="#">Konukevleri</a></li>
        </ul>
        </col-md-5>
        <ul>
            <li><a href="#">Konaklayacak benzersiz yerler</a></li>
            <li><a href="#">Tüm destinasyonlar</a></li>
            <li><a href="#">Tüm uçuş noktaları</a></li>
            <li><a href="#">Araba kiralama konumlarının tamamı</a></li>
            <li><a href="#">Daha fazlasını keşfet</a></li>
            <li><a href="#">Değerlendirmeler</a></li>
            <li><a href="#">Aylık konaklamaları keşfedin</a></li>
            <li><a href="#">Sezonluk fırsatlar ve tatil fırsatları</a></li>
            <li><a href="#">Traveller Review Awards</a></li>
        </ul>
        </col-md-5>
        <ul>
            <li><a href="#">Araba kiralama</a></li>
            <li><a href="#">Uçuş arayıcı</a></li>
            <li><a href="#">Restoran rezervasyonları</a></li>
            <li><a href="#">Booking.com Seyahat Temsilcileri</a></li>
        </ul>
        </col-md-5>
        <ul>
            <li><a href="#">Koronavirüs (COVID-19) hakkında sıkça sorulan sorular</a></li>
            <li><a href="#">Booking.com hakkında</a></li>
            <li><a href="#">Müşteri Hizmetleri yardımı</a></li>
            <li><a href="#">Ortaklar için yardım sayfası</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Sürdürülebilirlik</a></li>
            <li><a href="#">Basın merkezi</a></li>
            <li><a href="#">Güvenlik kaynak merkezi</a></li>
            <li><a href="#">Yatırımcı ilişkileri</a></li>
            <li><a href="#">Şartlar ve koşullar</a></li>
            <li><a href="#">Ortak ihtilaf çözüm merkezi</a></li>
            <li><a href="#">Çalışma şeklimiz</a></li>
            <li><a href="#">Gizlilik ve Çerez Bildirimi</a></li>
            <li><a href="#">MSA Bildirimi</a></li>
            <li><a href="#">Kurumsal iletişim</a></li>
            <li><a href="#">İçerik kuralları ve raporlama</a></li>
        </ul>
        </col-md-5>
    </div>
    <div class="footer-end">
            <p class="extranet"><a href="#">Extranet girişi</a></p>
            <p class="telif">Telif © 1996–2023 Booking.com™. Tüm hakları saklıdır.</p>
            <p class="booking">Booking.com, online seyahat ve ilgili hizmetlerde dünya lideri olan Booking Holdings Inc.'in bir parçasıdır.</p>
        <div class="img-end">
            <img src="{% static './img/Fatih/booking.png' %}" alt="">
            <img src="{% static './img/Fatih/priceline.png' %}" alt="">
            <img src="{% static './img/Fatih/kayak.png' %}" alt="">
            <img src="{% static './img/Fatih/agoda.png' %}" alt="">
            <img src="{% static './img/Fatih/rentalcars.png' %}" alt="">
            <img src="{% static './img/Fatih/opentable.png' %}" alt="">
        </div>
    </div>


</footer>



<!--FATİH-->
