*,
div {
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI Regular", Arial, Helvetica, sans-serif;
}

header {
  height: 10vh;
  width: 100%;
  background-color: #003580;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_line_top {
  height: 64px;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: white;
  text-decoration: none;
}

.header_line_top div {
  display: flex;
}

.connection {
  display: flex;
  align-items: center;
  height: 64px;
  width: auto;
}

.currency,
.country,
.question,
.button_type1 {
  letter-spacing: 0.05em;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.connection a {
  text-decoration: none;
}

.button_type1:hover {
  background-color: #0f4187;
  border-radius: 5%;
  height: 24px;
}

.questionInt {
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid white;
}

.currency:hover,
.country:hover,
.question:hover {
  background-color: #0f4187;
  border-radius: 5%;
}

.country img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

.button_type1 i {
  font-size: 24px;
}

.button_type2,
.button_type3 {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 0 8px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 2px;
}

.button_type2 {
  color: white;
  border: none;
  height: 38px;
}

.button_type2:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button_type3 {
  background-color: white;
  border: 1px solid #0896ff;
  color: #0b84e0;
  height: 36px;
  padding: 0 16px;
}

.button_type3:hover {
  background-color: rgba(255, 255, 255, 0.95);
}
.register-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.register-section-content-header {
    font-weight: 600;
    font-size: 20px;
}

.register-form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.register-form label {
    font-weight: 600;
    font-size: 14px;
}

.register-section-content {
  display: flex;
  flex-direction: column;
  max-width: 23rem;
}

.register-input {
  margin-top: 0.3rem;
  height: 2rem;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 0 0.5rem;
  transition: border-color 0.3s;
}

.register-button:active {
  border-color: #0b84e0;
}

.register-button {
  margin-top: 1rem;
  background-color: #0b84e0;
  color: #ffffff;
  padding: 0.7rem 0;
  border-radius: 3px;
}

.register-button:hover {
  background-color: #0f4187;
}

.under-button-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.under-button-section p {
    font-size: 14px;
}

.under-button-section div {
  height: 1px;
  width: 70px;
  border-top: 1px solid rgb(194, 191, 191);
  padding-bottom: 1rem;
}

.google-card-section {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.google-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 1.5rem 1.5rem;
    width: 200px;
}

.information-text {
    margin-top: 1.5rem;
    font-size: 12px;
    text-align: center;
}

.line {
    height: 1px;
    width: 100%;
    border-top: 1px solid rgb(194, 191, 191);
    margin-top: 1.5rem;
}

.footer-text {
    font-size: 12px;
    margin-top: 0.5rem;
}

