{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Detay1 sayfası</title>
{% endblock title %}

{% block content %}

<!-- ORGUN FURKAN BİRDAR START -->
<!-- ORGUN FURKAN BİRDAR FINISH -->

{% include 'partials/_navbar.html' %}

<!-- EVREN OĞUL START -->
<!-- EVREN OĞUL FINISH -->


<div class="container d-flex justify-content-between mt-2">
  <div class="filtreleme">
    <iframe style="width: 100%; height:200px; border: none; border-radius: 10px;"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.96777910432!2d2.264634515785194!3d48.85882549208526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis%2C%20Fransa!5e0!3m2!1str!2str!4v1699274412514!5m2!1str!2str"
      allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="filtre-1">
      <h6 class="fw-bold ms-1">Filtre Seçin:</h6>
      <hr>
      <div class="bilgi" style="width: 90%;">
        <h6 class="fw-bold ms-1">Popüler Filtreler:</h6>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center; ">Ücretsiz iptal</p>
        <p style="width: 20%">4670</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center;">Oteller</p>
        <p style="width: 20%;">1196</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center; ">1 km'den daha az merkezine uzaklığı</p>
        <p style="width: 20%">4670</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center;">İki tek kişilik yatak</p>
        <p style="width: 20%;">2833</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center; ">Oda ve Kahvaltılar</p>
        <p style="width: 20%">725</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center;">Hosteller</p>
        <p style="width: 20%;">31</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center; ">Spagna</p>
        <p style="width: 20%">575</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="filterCheckbox">
        <p style="width: 60%; text-align: center;">Fevkalade 9+</p>
        <p style="width: 20%;">2833</p>
      </div>
      <hr>
      <div class="bilgi">
        <h6 class="fw-bold  ms-1">Travel Suinstable</h6>
        <p class="fw-medium ms-1">Konaklamanızı daha sürdürülebilir kılmaya yönelik adımlar atan tesisler</p>
      </div>

      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center; ">3. seviye üzeri</p>
        <p style="width: 20%">29</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center;">3. seviye ve üzeri</p>
        <p style="width: 20%;">189</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center; ">2.seviye ve üzeri</p>
        <p style="width: 20%">789</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center;">1.seviye ve üzeri</p>
        <p style="width: 20%;">2276</p>
      </div>
      <hr>
      <div class="bilgi">
        <h6 class="fw-bold ms-1">Tesis puanlaması</h6>
        <p class="fw-medium ms-1">Yıldız sayısı ve diğer puanlamalar dahil</p>
      </div>

      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center; ">1 yıldız</p>
        <p style="width: 20%">25</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center;">2 yıldız</p>
        <p style="width: 20%;">100</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center; ">3 yıldız</p>
        <p style="width: 20%">3378</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center;">4 yıldız</p>
        <p style="width: 20%;">3793</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center; ">5 yıldız</p>
        <p style="width: 20%">57</p>
      </div>
      <div class="cekboks d-flex justify-content-around">
        <input style="width: 20%; height: 20px;" type="checkbox" name="" id="">
        <p style="width: 60%; text-align: center;">Sınıflandırılmamış</p>
        <p style="width: 20%;">737</p>
      </div>

    </div>
  </div>




  <!-- Deniz -->
  <div class="f-right w-75">
    <div class="header-text">
      <h4>Paris: 5.067 Tesis bulundu</h4>
    </div>
    <div class="input-popular">
      <button onclick="toggleDropdown()">
        Sırala: Popüler seçimlerimiz <i class="fa-solid fa-up-down"></i>
      </button>
      <ul id="dropdown-menu">
        <li><a href="#">Popüler seçimlerimiz</a></li>
        <li><a href="#">Önce evler ve daireler</a></li>
        <li><a href="#">Fiyat (önce en düşük)</a></li>
        <li><a href="#">En iyi puan ve en düşük fiyat</a></li>
        <li><a href="#">Tesis puanı (Yüksekten düşüğe)</a></li>
        <li><a href="#">Tesis puanı(düşükten yükseğe)</a></li>
        <li><a href="#">Tesis puanlaması ve fiyat</a></li>
        <li><a href="#">Şehir merkezine uzaklığı</a></li>
        <li><a href="#">En iyi değerlendirmeler</a></li>
      </ul>
    </div>





    {% for otel in otel %}



    <div class="border-sales mt-3 section-image mb-3">
      <div class="d-flex">
        <div class="d-flex down-margin left">
          <div><img class="mt-3 mb-3" src=" {{ otel.image.url }}" width="250px" height="250px"></div>
          <div class="left-popular mt-3"><a href="{% url 'detay2' %}">
              <p>
                <h4>{{ otel.title }}<i class="fa-solid fa-star" style="color: #dff250;"></i><i class="fa-solid fa-star"
                    style="color: #dff250;"></i><i class="fa-solid fa-star" style="color: #dff250;"></i><i
                    class="fa-regular fa-thumbs-up"></i></h4>
              </p>
            </a>
            <p><a href="#"> {{ otel.adres }}</a> <span style="margin-left: 1rem;"><a href="#">{{ otel.map }}</a></span>
            </p>
            <p>Merkez: 3,4 km <span style="margin-left: 1rem;">Metroya yakın</span></p>
            <p class="bg-p-popular" style="font-size: 13px; margin-left: 5px; width: 68%;"><i class="fa-solid fa-gem"
                style="color: #19339a;"></i><i class="fa-solid fa-gem" style="color: #19339a;"></i><i
                class="fa-solid fa-gem" style="color: #000000;"></i>Travel Sustainable 2.seviye</p>
            <div style="font-size: 12px;" class="mt-3 popular-border">
              <p><b>Standart Çift Kişilik veya Yataklı oda</b></p>
              <p>{{ otel.room }}</p>
              <p style="color: green;"><i class="fa-solid fa-check" style="color: #36ce40;"></i> <b>{{ otel.cancel}}</b></p>
              <p style="color: green; width: 80%;"><i class="fa-solid fa-check" style="color: #36ce40;"></i> <b>Ön
                  ödemeye gerek yok</b>- Tesiste <span style="margin-left: 15px;"><br>ödeyin</span></p>
              <p style="color: red;"><b>Sitemizde bu fiyata sadece 4 oda kaldı</b></p>
            </div>
          </div>
        </div>
        <div class="right ms-auto mt-3" style="margin-right: 2rem; text-align: right;">
          <div class="d-flex">
            <div class="right">
              <p style="text-align: right;"><b>Müthiş </b></p>
              <p style="text-align: right; font-size: 13px;">{{ otel.review_count }}</p>
            </div>
            <div class="left mt-1 left-border-point">
              <p>{{ otel.rating }}</p>
            </div>
          </div>
          <div>
            <p style="color: rgb(7, 97, 97);"><b>Konum 9,5</b></p>
          </div>
          <div class="mt-5 right-p">
            <p style="font-size: 14px; color: gray;">5 gece, 2 yetişkin</p>
            <h4>{{ otel.price }}</h4>
            <p style="font-size: 14px; color: gray;">{{ otel.tax }}</p>
            <a href="{% url 'detay2' %}"><button class="mt-2 look-button">Yer Durumuna bak ></button></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<!--FATİH-->


{% include 'partials/_footer.html' %}



<!--FATİH-->

{% endblock content %}