{% extends "base.html" %}
{%load static %}

{% block title %}
    <title>Yorum Ekle</title>
{% endblock title %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
{% for field in form %}

    <div class="mt-4">
        <div>
            <label for="field.id_for_label">{{field.label}}</label>
            {{field}}
        </div>

    </div>

    
{% endfor %}
<a href="{% url 'detay1' %}"><input class="btn btn-warning" type="submit" value="Kaydet"></a>

</form>
{% endblock content %}